body {
  background: rgb(150, 148, 252) 17%;
}
.bv-example-row {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: white;
  width: 600px;
  height: 600px;
  left: 30%;
  top: 91px;
}
